.carsCard{
    width: 330px;
    height: auto;

    border: 1px solid #dc3545 ;
    box-sizing: border-box;
    border-radius: 8px;

    margin: 20px;

}

.carsCard img{
    width: 315px;
    height: 200px;
    padding: 5px;
    margin: 7px;
    border-radius: 15px;
}

.carCard-info{
    margin-left: 15px;
}

.carCard-info h4{
    color: #dc3545;
}

.carsCard-btn{
    width: 50%;
    padding: 5px;
    margin-bottom: 8px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #dc3545;
}

