 .carsCard{
    font-family: 'Lato';
    font-weight: 800;

}

.cars-icon{
    font-size: 20px;
    margin-right: 4px;
}

.cars-style{
    width: 22rem;
}

.carsImage-style{
    width: 315px;
    height: 200px;
    
}

