.randomCart-style{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 15px;
}

.randomCart-style img{
    width: 100px;
    height: 70px;

    padding: 8px;
    border-radius: 5px;
}